// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

// Reset
@import "./base/reset";

// Variable
@import "./base/variable";

// Mixin
@import "./base/mixin";

body{
    position: relative;
    font-family: $PrimaryFont;
}

.container{
    max-width: 1320px;
    width: 100%;
    padding: 0px 40px;
    margin: 0% auto;
}

// Header
@import "./blocks/header";

// Intro
@import "./blocks/intro";

// Benefits
@import "./blocks/benefits";

// About 
@import "./blocks/about";

// Portfolio
@import "./blocks/portfolio";

// Testimoni
@import "./blocks/testimoni";