.blog{
    padding: $SectionPadding;

    .title{
        @include Title (center , 3em);

        &__head{
            text-align: center;
            @include TitleHead;
        }
    }

    &__inner{
        @include FlexElement (center);
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 70px;
        margin-top: 100px;

        .card{
            &__img{
                max-width: 100%;
            }

            &__data{
                font-size: 0.75em;
                margin-top: 20px;
                
                span{
                    color: rgb(1, 158, 14);
                    margin-left: 10px;
                }
            }

            &__title{
                max-width: 350px;
                margin-top: 15px;
                font-weight: 700;
            }

            &__button{
                display: inline-block;
                color: $SecondaryColor;
                margin-top: 10px;
                transition: opacity .3s;

                &:hover{
                    opacity: 50%;
                }
            }
        }
    }
}