$PrimaryFont    : 'Poppins', sans-serif;
$PrimaryColor   : #1E1C31;
$SecondaryColor : #4270EC;
$SectionPadding : 100px 0px;
$Gradient       : linear-gradient(79.42deg, #527FF6 15.73%, #E16DD9 79.76%, #FFCC70 112.35%);
