@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-size: 1em;
  font-weight: 400;
  color: #1E1C31;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

input, button, select {
  outline: none;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0px 40px;
  margin: 0% auto;
}

.header {
  padding: 30px 0px;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  background: #fff;
  z-index: 999;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 720px) {
  .header__inner .nav {
    display: none;
  }
}
.header__inner .nav .link {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: 0.875em;
}
.header__inner .nav .link:not(:first-child) {
  margin-left: 40px;
}
.header__inner .nav .link:not(.link_active):hover {
  opacity: 50%;
}
.header__inner .nav .link_active {
  color: #4270EC;
  font-weight: 700;
}
.header__inner .menu {
  cursor: pointer;
  display: none;
}
@media (max-width: 720px) {
  .header__inner .menu {
    display: block;
  }
}

.intro {
  padding: 400px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
@media (max-width: 1100px) {
  .intro {
    height: auto;
    padding: 150px 0px;
  }
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.intro__inner .wrapper {
  padding: 0px 20px;
}
@media (max-width: 720px) {
  .intro__inner .wrapper {
    padding: 0%;
  }
}
.intro__inner .wrapper .title {
  font-size: 3.75em;
  text-align: start;
  margin-top: 15px;
  font-weight: 700;
  line-height: 70px;
  max-width: 530px;
}
@media (max-width: 720px) {
  .intro__inner .wrapper .title {
    font-size: 3em;
  }
}
@media (max-width: 470px) {
  .intro__inner .wrapper .title {
    font-size: 2em;
    line-height: unset;
  }
}
.intro__inner .wrapper .title__head {
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
}
.intro__inner .wrapper .text {
  max-width: 500px;
  opacity: 50%;
  margin-top: 60px;
}
.intro__inner .wrapper .button {
  background: #4270EC;
  font-size: 0.875em;
  color: #fff;
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 15px;
  display: inline-block;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  margin-top: 60px;
}
.intro__inner .wrapper .button:hover {
  background: rgb(1, 158, 14);
}
.intro__inner .banner {
  max-width: 40%;
}
@media (max-width: 1100px) {
  .intro__inner .banner {
    max-width: 100%;
    margin-top: 100px;
  }
}