@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-size: 1em;
  font-weight: 400;
  color: #1E1C31;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

input, button, select {
  outline: none;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1420px;
  width: 100%;
  padding: 0px 40px;
  margin: 0% auto;
}

.header {
  padding: 30px 0px;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 720px) {
  .header__inner .nav {
    display: none;
  }
}
.header__inner .nav .link {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: 0.875em;
}
.header__inner .nav .link:not(:first-child) {
  margin-left: 40px;
}
.header__inner .nav .link:not(.link_active):hover {
  opacity: 50%;
}
.header__inner .nav .link_active {
  color: #4270EC;
  font-weight: 700;
}
.header__inner .menu {
  cursor: pointer;
  display: none;
}
@media (max-width: 720px) {
  .header__inner .menu {
    display: block;
  }
}

.intro {
  padding: 400px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
@media (max-width: 1100px) {
  .intro {
    height: auto;
    padding: 150px 0px;
  }
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.intro__inner .wrapper {
  padding: 0px 20px;
}
@media (max-width: 720px) {
  .intro__inner .wrapper {
    padding: 0%;
  }
}
.intro__inner .wrapper .title {
  font-size: 3.75em;
  text-align: start;
  margin-top: 15px;
  font-weight: 700;
  line-height: 70px;
  max-width: 530px;
}
@media (max-width: 720px) {
  .intro__inner .wrapper .title {
    font-size: 3em;
  }
}
@media (max-width: 470px) {
  .intro__inner .wrapper .title {
    font-size: 2em;
    line-height: unset;
  }
}
.intro__inner .wrapper .title__head {
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
}
.intro__inner .wrapper .text {
  max-width: 500px;
  opacity: 50%;
  margin-top: 60px;
}
.intro__inner .wrapper .button {
  background: #4270EC;
  font-size: 0.875em;
  color: #fff;
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 15px;
  display: inline-block;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  margin-top: 60px;
}
.intro__inner .wrapper .button:hover {
  background: rgb(1, 158, 14);
}
.intro__inner .banner {
  max-width: 40%;
}
@media (max-width: 1100px) {
  .intro__inner .banner {
    max-width: 100%;
    margin-top: 100px;
  }
}

.benefits {
  padding: 30px 0px;
}
.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 100px;
}
.benefits__inner .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 350px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.benefits__inner .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.benefits__inner .card__wrapper {
  margin-left: 20px;
}
.benefits__inner .card__wrapper .title {
  font-weight: 500;
  font-size: 1.125em;
}
.benefits__inner .card__wrapper .text {
  margin-top: 10px;
  opacity: 50%;
}

.about {
  padding: 100px 0px;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__inner .wrapper {
  padding: 0px 20px;
}
@media (max-width: 720px) {
  .about__inner .wrapper {
    padding: 0%;
  }
}
.about__inner .wrapper .title {
  font-size: 3em;
  text-align: start;
  margin-top: 15px;
  font-weight: 700;
  line-height: 70px;
  max-width: 450px;
}
@media (max-width: 720px) {
  .about__inner .wrapper .title {
    font-size: 3em;
  }
}
@media (max-width: 470px) {
  .about__inner .wrapper .title {
    font-size: 2em;
    line-height: unset;
  }
}
.about__inner .wrapper .title__head {
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
}
.about__inner .wrapper .text {
  max-width: 500px;
  margin-top: 50px;
  opacity: 50%;
  font-size: 0.875em;
  line-height: 30px;
}
.about__inner .wrapper .button {
  background: #4270EC;
  font-size: 0.875em;
  color: #fff;
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 15px;
  display: inline-block;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  margin-top: 50px;
}
.about__inner .wrapper .button:hover {
  background: rgb(1, 158, 14);
}
.about__inner .banner {
  max-width: 40%;
}
@media (max-width: 1100px) {
  .about__inner .banner {
    max-width: 100%;
    margin-bottom: 100px;
  }
}

.portfolio {
  padding: 100px 0px;
}
.portfolio .title {
  font-size: 3em;
  text-align: start;
  margin-top: 15px;
  font-weight: 700;
  line-height: 70px;
}
@media (max-width: 720px) {
  .portfolio .title {
    font-size: 3em;
  }
}
@media (max-width: 470px) {
  .portfolio .title {
    font-size: 2em;
    line-height: unset;
  }
}
.portfolio .title__head {
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
}
.portfolio__inner {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 50px;
}
.portfolio__inner .card {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-radius: 30px;
  position: relative;
}
.portfolio__inner .card__img {
  border-radius: 30px;
  max-width: 100%;
}
.portfolio__inner .card__arrow {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 10;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.portfolio__inner .card__arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.portfolio__inner .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.testimoni {
  padding: 100px 0px;
}
.testimoni .title {
  font-size: 3em;
  text-align: center;
  margin-top: 15px;
  font-weight: 700;
  line-height: 70px;
}
@media (max-width: 720px) {
  .testimoni .title {
    font-size: 3em;
  }
}
@media (max-width: 470px) {
  .testimoni .title {
    font-size: 2em;
    line-height: unset;
  }
}
.testimoni .title__head {
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.testimoni__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  position: relative;
}
.testimoni__inner .background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.testimoni__inner .swiper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.testimoni__inner .swiper .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimoni__inner .swiper .swiper-slide .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  padding-bottom: 50px;
}
@media (max-width: 440px) {
  .testimoni__inner .swiper .swiper-slide .card {
    height: 600px;
  }
}
.testimoni__inner .swiper .swiper-slide .card .text {
  max-width: 400px;
}
.testimoni__inner .swiper .swiper-slide .card .name {
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 500;
}
.testimoni__inner .swiper .swiper-slide .card .name span {
  font-size: 0.75em;
}

.blog {
  padding: 100px 0px;
}
.blog .title {
  font-size: 3em;
  text-align: center;
  margin-top: 15px;
  font-weight: 700;
  line-height: 70px;
}
@media (max-width: 720px) {
  .blog .title {
    font-size: 3em;
  }
}
@media (max-width: 470px) {
  .blog .title {
    font-size: 2em;
    line-height: unset;
  }
}
.blog .title__head {
  text-align: center;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
}
.blog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 70px;
  margin-top: 100px;
}
.blog__inner .card__img {
  max-width: 100%;
}
.blog__inner .card__data {
  font-size: 0.75em;
  margin-top: 20px;
}
.blog__inner .card__data span {
  color: rgb(1, 158, 14);
  margin-left: 10px;
}
.blog__inner .card__title {
  max-width: 350px;
  margin-top: 15px;
  font-weight: 700;
}
.blog__inner .card__button {
  display: inline-block;
  color: #4270EC;
  margin-top: 10px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.blog__inner .card__button:hover {
  opacity: 50%;
}

.contact {
  padding: 100px 0px;
}
.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
  row-gap: 50px;
  background: linear-gradient(79.42deg, #527FF6 15.73%, #E16DD9 79.76%, #FFCC70 112.35%);
  padding: 100px 0px;
  border-radius: 30px;
}
.contact__inner .title {
  font-size: 2.5em;
  max-width: 530px;
  font-weight: 700;
  color: #fff;
  padding: 0px 20px;
}
@media (max-width: 530px) {
  .contact__inner .title {
    font-size: 1.5em;
    max-width: 300px;
  }
}
.contact__inner .button {
  background: #4270EC;
  font-size: 0.875em;
  color: #fff;
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 15px;
  display: inline-block;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background: #fff;
  color: #4270EC;
}
.contact__inner .button:hover {
  background: rgb(1, 158, 14);
}
.contact__inner .button:hover {
  color: #fff;
}